<div class="page-header"><h4>Sección</h4></div>

<ul class="nav nav-pills">
	<li role="presentation"><%= link_to 'Editar', edit_seccion_path(@seccion) %></li>
	<li role="presentation"><%= link_to 'Volver', seccions_path %></li>
</ul>

<br/>

<p>
  <strong>Nombre:</strong>
  <%= @seccion.nombre %>
</p>

<p>
  <strong>Subestacion:</strong>
  <%= @seccion.subestacion %>
</p>

