<div class="page-header">
  <%= link_to ruta_medidors_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <% end %>
  <h4>Nuevo ruta_medidor</h4>
</div>

<%= render 'form' %>
