<div class="page-header">
  <%= link_to subestacions_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <% end %>
  <%= link_to edit_subestacion_path(@subestacion), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h4>Subestación</h4>
</div>

<dl class="dl-horizontal">
  <dt>Código:</dt>
  <dd><%= @subestacion.codigo %></dd>

  <dt>Nombre:</dt>
  <dd><%= @subestacion.nombre %></dd>
</dl>

