<div class="page-header"><h4>Subestación</h4></div>

<ul class="nav nav-pills">
	<li role="presentation"><%= link_to 'Editar', edit_subestacion_path(@subestacion) %></li>
	<li role="presentation"><%= link_to 'Volver', subestacions_path %></li>
</ul>

<br/>

<p>
  <strong>Código:</strong>
  <%= @subestacion.codigo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @subestacion.nombre %>
</p>

