<div class="page-header"><h4>Editando medidor</h4></div>

<ul class="nav nav-pills">
	<li role="presentation"><%= link_to 'Ver', @medidor %></li>
	<li role="presentation"><%= link_to 'Volver', medidors_path %></li>
</ul>

<br/>

<%= render 'form' %>