<div class="page-header">
  <%= link_to seccion_tomaestado_ruta_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <% end %>
  <h4>Asignar nueva ruta</h4>
</div>

<%= render 'form' %>
