<div class="page-header">
  <%= link_to ruta_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <% end %>
  <h4>Nueva ruta</h4>
</div>

<div id='map'></div>

<br/>

<%= render 'form' %>
