<div id="map">
  <%= 
  map(:center => {
    :latlng => [-43.296164, -65.090322],
    :zoom => 14
  },
  :markers => [
    {
       :latlng => [-43.296164, -65.090322],
       :popup => "yo (martín)"
    }
  ]) %>
</div>

<div class="page-header">
  <%= link_to ruta_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <% end %>
  <h4>Nueva ruta</h4>
</div>

<%= render 'form' %>
