<div class="page-header">
  <%= link_to ruta_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <% end %>
  <h4>Nueva ruta</h4>
</div>

<div id='map'></div>
<script>
// Provide your access token
L.mapbox.accessToken = 'pk.eyJ1IjoibWFydGluY2hvIiwiYSI6ImZlMTY1MzUwMjQ5MGQ3YjgyY2NkYTU2MzJiZWIyMWRiIn0.Yhwbui6KvzC0JziPkwWXuQ';
// Create a map in the div #map
L.mapbox.map('map', 'martincho.nb477913');
</script>

<br/>

<%= render 'form' %>
