<div class="page-header">
  <%= link_to ruta_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <% end %>
  <%= link_to edit_rutum_path(@rutum), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h4>Ruta</h4>
</div>

<dl class="dl-horizontal">
  <dt>Nombre:</dt>
  <dd><%= @rutum.nombre %></dd>
</dl>
