<div class="page-header">
  <%= link_to ruta_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <% end %>
  <%= link_to edit_rutum_path(@rutum), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h4>Ruta</h4>
</div>

<div id="map"></div>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><strong>Medidores que se encuentran en la ruta: </strong></div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>Nombre:</dt>
      <dd><%= @rutum.nombre %></dd>
    </dl>
  </div>

  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Medidor</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>...</td>
      </tr>  
      <tr>
        <td>...</td>
      </tr>  
      <tr>
        <td>...</td>
      </tr>  
      <tr>
        <td>...</td>
      </tr>  
      <tr>
        <td>...</td>
      </tr>      
    </tbody>
  </table>
</div>

<script>
  $(document).on("ready", function() {
    L.mapbox.accessToken = 'pk.eyJ1IjoibWFydGluY2hvIiwiYSI6ImZlMTY1MzUwMjQ5MGQ3YjgyY2NkYTU2MzJiZWIyMWRiIn0.Yhwbui6KvzC0JziPkwWXuQ';
    var userMap = L.mapbox.map('map', 'martincho.nb477913').addControl(L.mapbox.geocoderControl('mapbox.places'))
    var featureLayer = L.mapbox.featureLayer().loadURL('http://localhost:3000/ruta/1.json').addTo(userMap)
    console.log(featureLayer);    
    //getTrailPoints(userMap);
    featureLayer.on('ready', function(){
      userMap.fitBounds(featureLayer.getBounds());
    });
  });
</script>

